html {
  --pad-width: 50px;
  --pad-height: 50px;
}

body {
  font: 1.4rem futura, sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

#root {
  background-color: #2e9e3b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  border: 3px solid;
  box-sizing: border-box;
}

#title {
  background-color: #bbb;
  margin: 0;
  height: 10%;
}

#controls-area {
  display: flex;
  flex-direction: column;
  height: 90%;
  box-sizing: border-box;
}

#pad-section {
  height: 70%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

#pad-section > div {
  background: black;
  padding: 5px;
}

#pad-section > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.drum-pad {
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  font-size: 5vw;
}

#master-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  box-sizing: border-box;
  height: 30%;
  /* text-align: center; */
  /* width: 300px; */
}

#display {
  font-size: 1.2rem;
  background-color: #bbb;
  width: 60%;
  margin: 0 auto;
}

#volume-label {
  font-size: 1rem;
  margin: 0;
}

#volume-slider {
  cursor: pointer;
  width: 60%;
  margin: 0 auto;
}

@media (min-width: 650px) {
  #drum-machine {
    width: 55vw;
    height: 60vh;
  }

  #controls-area {
    flex-direction: row; 
  }

  #pad-section {
    width: 50%;
    height: 100%;
  }
  
  .drum-pad {
    font-size: 1.3rem;
  }
  
  #master-section {
    width: 50%;
    height: 100%;
  }
}