html {
  --pad-width: 60px;
  --pad-height: 60px;
}

body {
  /* background-color: #2e9e3b; */
  font: 1.4rem futura, sans-serif;
  text-align: center;
  box-sizing: border-box;
  /* margin: 0; */
  user-select: none;
}

#root {
  background-color: #2e9e3b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* box-sizing: border-box; */
}

#drum-machine {
  /* width: 80%; */
  /* width: 80vw; */
  /* width: 650px; */
  border: 3px solid;
  /* border-radius: 10px; */
  /* overflow: hidden; */
  /* background-color: #2e9e3b; */
}

#title {
  background-color: #bbb;
  margin: 0;
}

#controls-area {
  /* display: block;  */
}

#pad-section {
  background-color: red;
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-template-rows: 80px 80px 80px; */
  /* grid-template-columns: 80px 80px 80px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5px;
  padding: 5px;
}

.drum-pad {
  cursor: pointer;
  outline: none;
  /* width: var(--pad-width); */
  /* height: var(--pad-height); */
}

#master-section {
  background-color: aqua;
  /* width: 300px; */
}

#display {
  font-size: 1.2rem;
  background-color: #bbb;
  width: 60%;
  margin: 0 auto;
}

#volume-label {
  font-size: 1rem;
  margin: 0;
}

#volume-slider {
  cursor: pointer;
  width: 60%;
  /* outline: none; */
}

@media (min-width: 650px) {
  #controls-area {
    /* display: inline-block;  */
  }

  #drum-machine {
    /* transform: scale(0.7); */
  }
}